/*@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg) skew(0deg);
  }
  to {
    -webkit-transform: rotate(0deg) skew(65deg);
  }
}*/

img {
  max-width: 210px;
  max-height: 210px;
/*  -webkit-animation-name:             rotate;
  -webkit-animation-duration:         .75s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  cubic-bezier(0.5,0.5,0.5,0.5);
*/
}

body {
  background-color: #FFFFFF;
  color: black;
}

.end {
  background: #003366;
  color: white;
  padding: 0.5em 0.7em;
  max-width: 500px;
}

.end div {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
}

.end div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  text-transform: uppercase;
  text-align: left;
}

